<app-page-layout
  title="Branch Management"
  subtitle="Manage club branches to associate with plans and members"
>
  <div actions class="flex items-center justify-between gap-4">

    <!-- ✅ Dropdown Reusable -->
    <app-dropdown
      [options]="['All','Active','Inactive']"
      [selected]="selectedFilter"
      (valueChange)="applyFilter($event)"
    ></app-dropdown>

    <!-- Create -->
    <button
      class="bg-primary text-white px-5 py-2 rounded-xl"
      (click)="openCreateModal()"
    >
      + Create Branch
    </button>

  </div>

  <!-- Table -->
  <app-tables
    [columns]="columns"
    [data]="data"
    (edit)="onEdit($event)"
    (toggleStatus)="onToggleStatus($event)"
  ></app-tables>
</app-page-layout>

<app-branch-modal
  *ngIf="showModal"
  [data]="editItem"
  (close)="closeModal()"
  (save)="onSaveBranch($event)"
></app-branch-modal>
