<app-page-layout
  title="Pricing Policies"
  subtitle="Create dynamic pricing rules and assign them to templates or events"
  [hasActions]="true"
>

  <!-- ✅ حط التابس هنا -->
  <div actions class="w-full">
    <div class="flex gap-8 border-b border-borderGray dark:border-darkBorder relative pb-2">
      <button
        routerLink="pricing-policy-content"
        routerLinkActive="active-tab"
        [routerLinkActiveOptions]="{ exact: true }"
        class="tab-btn"
      >
        Policies
      </button>

      <button
        routerLink="pricing-policy-assignment"
        routerLinkActive="active-tab"
        class="tab-btn"
      >
        Assignments
      </button>
    </div>
  </div>

  <!-- ✅ المحتوى -->
  <router-outlet></router-outlet>

</app-page-layout>


