<app-page-layout
  title="Application Templates"
  subtitle="Manage your dynamic application forms and their connections."
  >



  <!-- Header -->
  <div class="flex justify-between items-center mb-4">

<div></div>

 <button
      (click)="openCreateModal()"
      class="bg-primary text-white px-5 py-2 rounded-xl
             flex items-center gap-2 hover:opacity-90 transition"
    >
      <i class="fa-solid fa-plus text-sm"></i>
      Create New Template
    </button>

  </div>

  <!-- Table -->
  <app-tables
    [columns]="columns"
    [data]="data"
    [showActions]="true"
    [serverSide]="true"
    [currentPage]="currentPage"
    [totalCount]="totalCount"
    [pageSize]="pageSize"
    itemLabel="templates"
    (pageChange)="onPageChange($event)"
    (edit)="onEdit($event)"
  ></app-tables>

</app-page-layout>

<!-- 🔥 Create Modal -->
<app-create-template-modal
  *ngIf="showCreateModal"
  [templateId]="selectedTemplateId"
  [initialData]="selectedTemplateData"
  (close)="closeCreateModal()"
  (submitForm)="onCreateTemplate($event)"
></app-create-template-modal>

