<div class="relative w-full md:w-64 lg:w-72">

  <!-- Icon -->
  <i
    class="fa-solid fa-magnifying-glass
           absolute left-3 top-1/2 -translate-y-1/2
           text-mediumGray dark:text-gray-400
           text-sm"
  ></i>

  <!-- Input -->
  <input
    type="text"
    [placeholder]="placeholder"
    (input)="onInput($any($event.target).value)"
    class="w-full h-10
           pl-9 pr-4
           rounded-xl
           bg-white dark:bg-darkCard
           border border-gray-200 dark:border-darkBorder
           text-sm
           text-darkGray dark:text-white
           placeholder:text-mediumGray
           focus:outline-none
           focus:ring-2 focus:ring-lavender
           transition"
  />

</div>
