<!-- <header class="h-16 bg-white dark:bg-darkCard border-b border-gray-200 dark:border-darkBorder flex items-center justify-between px-6">

  <div class="flex items-center gap-3">
    <button class="text-darkGray dark:text-white text-xl">
      ☰
    </button>

    <h1 class="text-primary dark:text-darkPrimary font-bold text-lg">
      EaseClub
    </h1>
  </div>

  <div class="flex items-center gap-4">
    <button class="text-darkGray dark:text-white">
      🌙
    </button>
  </div>

</header> -->
<header class="h-16 bg-white dark:bg-darkCard border-b border-gray-200 dark:border-darkBorder flex items-center justify-between px-6">

  <div class="flex items-center gap-3">
    <button
      (click)="toggle()"
      class="text-darkGray dark:text-white text-xl"
    >
      ☰
    </button>

    <h1 class="text-primary dark:text-darkPrimary font-bold text-lg">
      EaseClub
    </h1>
  </div>

 <div class="flex items-center gap-4">

  <button
    class="px-3 py-2 rounded-lg
           bg-white dark:bg-darkCard
           border border-gray-200 dark:border-darkBorder
           shadow-sm
           text-sm font-semibold
           text-darkGray dark:text-white
           hover:bg-gray-100 dark:hover:bg-darkBorder
           transition"
  >
    EN
  </button>

</div>

</header>
